<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GRB - Change password</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="form.css">
    <link rel="icon" type="image/png" href="/img/logo.png">
</head>
<body class="login">
    <main>
        <div class="loginFormWrapper">
            <form class="loginForm" action="/chpwd" method="post">
                <h1><img src="img/logo.png" alt="Gymnasium Riedberg Logo"> Passwort ändern</h1>
                <div class="error-message"><%= error_msg %></div>
                <div class="input-box">
                    <input type="text" name="username" id="username" placeholder=" " value="<%= username %>" readonly>
                    <label for="username">Benutzername</label>
                </div>
                <div class="input-box">
                    <input type="password" name="oldPassword" id="oldPassword" placeholder=" ">
                    <label for="oldPassword">altes Passwort</label>
                </div>
                <div class="input-box">
                    <input type="password" name="newPassword" id="newPassword" placeholder=" ">
                    <label for="newPassword">neues Passwort</label>
                </div>
                <div class="input-box">
                    <input type="password" name="repeatPassword" id="repeatPassword" placeholder=" ">
                    <label for="repeatPassword">Passwort wiederholen</label>
                </div>
                <button type="submit">Passwort ändern</button>
            </form>
        </div>
    </main>
</body>
</html>