<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GRB - Login</title>
    <link rel="stylesheet" href="style.css">
    <link rel="icon" type="image/png" href="/img/logo.png">
</head>

<body>
    <header>
        <img src="/img/logo.png" alt="Gymnasium Riedberg Logo">
        <h1>Startseite</h1>
        <a href="/logout"><img src="/img/logout.svg" alt="Logout Icon"> Log Out</a>
    </header>

    <main>
        <%- linklist %>
    </main>
</body>

</html>