<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="/img/logo.png">
    <title>GRB - Wahl</title>
    <link rel="stylesheet" href="/wahltool.css">
</head>

<body>
    <header>
        <img src="/img/logo.png" alt="Gymnasium Riedberg Logo">
        <h1>GRB - Wahltool</h1>
        <a href="/logout"><img src="/img/logout.svg" alt="Logout Icon"> Log Out</a>
    </header>
    <main>
        <form action="/vote/send">
            <h2>
                GRB-ProWo-2023
            </h2>
            <div class="choices-list">
                <%- options %>
            </div>
            <button type="submit">Senden</button>
            <button type="reset">Zurücksetzten</button>
        </form>
    </main>
</body>

</html>