* {
    margin: 0;
    padding: 0;
}

form {
    border: 2px solid black;
    margin: 5px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 600px;
    font-size: 22px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

form .input-box {
    display: flex;
    flex-direction: column;
}

input {
    font-size: 24px;
    padding: 3px;
}

textarea {
    font-size: 24px;
    resize: vertical;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 3px;
}