.choice {
    background-color: black;
    min-height: 100px;
    margin: 10px;
    width: fit-content;
    min-width: 40%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    display: inline-block;
}

.choice .title {
    font-size: 18px;
    font-weight: bold;
    display: block;
}

.choice .description {
    margin: 10px 0;
    display: block;
}

main form button {
    background-color: rgb(39, 39, 39);
    color: white;
}

.choice .buttons {
    border: none;
    padding: 5px 0;
    border-radius: 5px;
    margin: 0;
    margin-top: auto;
    display: flex;
    gap: 20px;
}

button {
    padding: 10px 20px;
    border: none;
    margin: 0;
    border-radius: 7px;
    background-color: rgb(0, 76, 255);
    color: white;
}

.choice button:hover,
button:hover {
    background-color: rgb(0, 132, 255);    
}

.button-wrapper {
    display: flex;
    padding: 10px;
    margin: 20px;
}

@media (max-width: 475px) {
    header h1 {
        display: none;
    }
}