.projects-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.choice {
    background-color: #06264d;
    min-height: 100px;
    margin: 10px;
    min-width: 300px;
    max-width: 300px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    display: inline-flex;
    gap: 5px;
}

textarea {
    resize: vertical;
}

.choice .title {
    font-size: 18px;
    font-weight: bold;
    display: block;
}

.choice .description {
    margin: 10px 0;
    display: block;
}

main form button {
    background-color: rgb(39, 39, 39);
    color: white;
}

.choice .buttons {
    border: none;
    padding: 5px 0;
    border-radius: 5px;
    margin: 0;
    margin-top: auto;
    display: flex;
    gap: 20px;
}

button {
    padding: 10px 20px;
    border: none;
    margin: 0;
    border-radius: 7px;
    background-color: rgb(0, 76, 255);
    color: white;
}

.choice button:hover,
button:hover {
    background-color: rgb(0, 132, 255);    
}

button[type="submit"] {
    background-color: #008000;
}

button[type="submit"]:hover {
    background-color: #009800;
}

button.delete {
    background-color: #981c01;
}

button.delete:hover {
    background-color: #c62400;
}

.button-wrapper {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    padding: 10px;
    margin: 20px;
}

@media (max-width: 475px) {
    header h1 {
        display: none;
    }
}